@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #CC9E6C;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
 }

 .webgl { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 }

 nav {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 4rem 8rem;
    font-weight: 600;
    user-select: none;
    a {
        text-decoration: none;
        color: #CC9E6C;
    }
    ul {
        cursor: pointer;
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }
 }
 
.title {   
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -85%);
    color: #CC9E6C;
}